Button {   
    float: right;
}

.row {
    padding: 0vh 5vw 1vh;
}
.Otsikko {
    
}

.ListaItemit {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

MuistiinpanoItem {
    position: relative;
}